fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
alembic
psycopg2-binary
python-jose
python-dotenv
python-multipart
python-dateutil
email-validator
pandas
openpyxl
numpy
datetime
xlsxwriter
reportlab

# Versiones específicas y compatibles para bcrypt
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
cryptography==41.0.7